
<form [formGroup]="l_loginform" (ngSubmit)="lFN_Login()">
    <input type="text" formControlName="email" placeholder="Login Id">
    <div *ngIf="lFN_GetFormDetails('email')?.touched && lFN_GetFormDetails('email')?.invalid">Please enter valid email</div>
    <input type="password" formControlName="password" placeholder="Password">
    <div *ngIf="lFN_GetFormDetails('password')?.touched && lFN_GetFormDetails('password')?.invalid">Please enter valid email</div>
    <button class="bg-blue-600 text-white px-4 py-2 rounded">Login</button>
</form>

<p>Login name: {{ l_loginform.get('name')?.value }}</p>
<p>Login password: {{ l_loginform.get('password')?.value }}</p>
<!-- https://fakeapi.platzi.com/en/rest/auth-jwt/ -->